.explore{
    background-color: rgb(179, 247, 224);
    padding-top:25px;
    padding-bottom: 25px;
    text-align: center;
    
    
}
.explore h5{
    color:#2c6959;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.explore h6{
    font-size: 14px;
}
.networking_searchbox{
    border-radius: none;
    border:none;
    border:1px solid #2c6959;
}
.upcoming{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.upcoming h3{
    font-size: 30px;
    font-weight: 700;

}
.upcoming button{
    width:100px;
    height:35px;
    border-radius: 5px;
    font-size: 13;
    color:#2c6959;
    border: none;
    background-color: transparent;
    border:2px solid #2c6959;
    font-weight: bold;

}
.latest{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.latest h3{
    font-size: 30px;
    font-weight: 700;

}
.latest button{
    width:100px;
    height:35px;
    border-radius: 5px;
    font-size: 13;
    color:#2c6959;
    border: none;
    background-color: transparent;
    border:2px solid #2c6959;
    font-weight: bold;
}