:root {
    --success: #3fbd63c4;
    --success-md: #3fbd637c;
    --success-l: #3fbd632d;
    --info: #0069dec4;
    --info-md: #0069de7c;
    --info-l: #0069de2d;
  
    --warning: #ef9400c4;
    --warning-md: #ef94007c;
    --warning-l: #ef94002d;
  
    --danger: #ea4e2cc4;
    --danger-md: #ea4e2c7c;
    --danger-l: #ea4e2c2d;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    height: 100vh;
    background-color: #fdfdfd;
  }
  
  .container {
    padding: 10px;
    border-radius: 10px;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .notification {
    background-color: #fff;
    padding: 15px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 2px 5px #00000033;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    overflow: hidden;
  }
  
  i {
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    width: 37px;
    height: 37px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .notification span {
    font-size: 18px;
    color: #5d6672 !important;
    line-height: 1.6;
    white-space: nowrap;
  }
  .notification.success {
    border: 1px solid var(--success-md);
    background-color: var(--success-l);
  }
  .notification.success i {
    background-color: var(--success);
  }
  
  /*******/
  .notification.info {
    border: 1px solid var(--info-md);
    background-color: var(--info-l);
  }
  .notification.info i {
    background-color: var(--info);
  }
  
  /*******/
  .notification.warning {
    border: 1px solid var(--warning-md);
    background-color: var(--warning-l);
  }
  .notification.warning i {
    background-color: var(--warning);
  }
  
  .notification.warning .icon {
    background-color: var(--warning);
  }
  /********/
  .notification.danger {
    border: 1px solid var(--danger-md);
    background-color: var(--danger-l);
  }
  .notification.danger i {
    background-color: var(--danger);
  }
  
  .fa-times {
    position: absolute;
    right: 15px;
    color: #777;
    background-color: transparent !important;
  }
  